
@import url(https://fonts.googleapis.com/css?family=Roboto,Open+Sans:400,500,300,700);

body {
    background-color: #111;
    font-family: 'Open Sans';
    color: hsl(25, 100%, 97%)
}
.logo {
	color: steelblue;
	font-family: Roboto;
}

.logo h2 {
	font-family: Poppins;
}

.footer-icons {
	background-color: #434343;
}

.fa-brands {
	color: white;
}

.fa-brands:hover {
	color: steelblue;
}