* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 16px;
}

body {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 63%);
}
header {
    background-color: hsl(0, 0%, 0%);
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
main {
    background-color: hsl(0, 0%, 12%);
    margin: 0 auto;
    padding: 32px 32px 400px 32px;
    width: 1440px;
}
.main-nav {
    text-align: right;
    font-size: 1.5em;
}
.flexy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 2em;
    line-height: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block {
    display: inline-block;
;
}
.main-nav li {
    display: inline-block;
    background-color: black;
    padding: .5rem;
    width: 6em;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
.main-nav li:hover {
    background-color: hsl(0, 0%, 9%);
    color: hsl(60, 100%, 25%);
    cursor: pointer;
}

.footer-icons {
    text-align: center;
    margin: 0;
    background-color: black;
}

a, a:visited {
    color: hsl(0, 0%, 63%);
    text-decoration: none;
}

a:hover {
    color: hsl(60, 100%, 25%);
}

.copy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-align: center;
    margin: 4px 0;
}
p {
    margin-bottom: 10px;
    text-indent: 30px;
    line-height: 1.65;
}

.guitars ul li {
    margin-left: 40px;
    padding: 3px 0;
}

.player {
    max-width: 720px;
    margin: 0 auto;
}

iframe {
    margin: 20px 10px;
}
